html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;

  /* background: url("./assets/01.jpg") no-repeat; */
}
#app {
  /* max-width: 1200px; */
  height: 100vh;
  margin: auto;
  overflow: hidden;
  background-color: rgb(100, 100, 100);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
header {
  padding: 5px;
  color: white;
  font-size: 0.8em;
}
header .btn {
  width: 50px;
  justify-content: center;
  border: 1px solid #000;
  background-color: white;
  color: #000;
}

.flex-container,
.flex-item {
  display: flex;
}
.flex-item {
  flex-grow: 0;
}
.flex-item select {
  margin: 0 5px;
  padding: 2px;
  width: 50px;
}
.flex-item.grow {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

main > .flex-container {
  margin: 5px 0;
}
main > .flex-container.alarm,
.list-wrapper li {
  padding: 5px 10px;
  background-color: white;
}
.list-wrapper li {
  border-bottom: 1px solid rgb(100, 100, 100);
}
.list-wrapper li span {
  justify-content: left !important;
}

.home li {
  width: 50px;
  height: 50px;
  margin: 15px;
  border-radius: 10px;
  border: 1px solid white;
}
.home li a {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 3.2em;
  text-align: center;
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
}

.hidden {
  visibility: hidden;
}

#memo-input {
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 2px solid white;
}
#memo-input:focus {
  outline: none;
  border: 2px solid rgba(81, 203, 238, 1);
}
.list-wrapper li.memo-list {
  display: -webkit-box;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.list-wrapper li.memo-list.accordion {
  max-height: 2em;
  -webkit-line-clamp: 2;
}

.photo-list {
  white-space: nowrap;
  overflow-x: auto;
  text-align: center;
  padding: 15px 0;
}

.thumbnail-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: inline-block;
  overflow: hidden;
  margin: 0 10px;
  box-sizing: border-box;
}
.thumbnail-wrapper.selected {
  border: 2px solid rgb(255, 153, 0);
}

.thumbnail-img {
  height: 50px;
}

.photo-view {
  background-color: black;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: hidden;
}

img.portrait {
  width: 100%;
}

img.landscape {
  height: 100%;
}

.example-parent {
  border: 2px solid #dfa612;
  color: black;
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
}

.example-origin {
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
}

.example-draggable {
  background-color: #4aae9b;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.example-dropzone {
  background-color: #6db65b;
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
}
