body {
  padding: 0;
  margin: 0;
  background-color: #e79d49;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
header {
  padding: 5px;
}
header .btn {
  width: 50px;
  text-align: center;
  justify-content: center;
  border: 1px solid black;
  background-color: white;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: auto;
  border: 1px solid red;
}

.flex-container,
.flex-item {
  display: flex;
}
.flex-item {
  flex-grow: 0;
}
.flex-item select {
  margin: 0 5px;
  padding: 2px;
  width: 50px;
}
.flex-item.grow {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

div.flex-container,
.list-wrapper li {
  padding: 10px 15px;
  background-color: white;
}
.list-wrapper li span {
  justify-content: left !important;
}

.home li {
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  margin: 15px;
}

.hidden {
  visibility: hidden;
}
